.breadcrumb {
    cursor: pointer;
}

.breadcrumb:hover {
    text-decoration: underline;
}

.gallery {
    box-sizing: border-box;
    margin: 0;
}

.gallery .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery .column {
    -ms-flex: 48%;
    flex: 48%;
    max-width: 48%;
    padding: 0 2px;
}

.gallery .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
